In [1]:
#Insert modules
import pandas as pd


#record the path of the csv file
csvpath=("../pybank.py/budget_data_2.csv")

#Read the csv
budget_df = pd.read_csv(csvpath)
budget_df.head()

     Date    Revenue
0  Jan-09   943690.0
1  Feb-09  1062565.0
2  Mar-09   210079.0
3  Apr-09  -735286.0
4  May-09   842933.0

In [2]:
budget_df.columns

Index(['Date', 'Revenue'], dtype='object')

In [3]:
    #count the number of months in the "Date" column
    Tot_months = budget_df['Date'].count()
    print(Tot_months)

86

In [4]:
    #Sum up the revenue values
    Tot_Revenue = budget_df['Revenue'].sum()
    print(Tot_Revenue)

36973911.0

In [9]:
#empty lists and other variables
Rev_change_list = []

#Calculate the average change in revenue between months
for row in budget_df:
    
    #Create Revenue change variable
    Prev_revenue = budget_df['Revenue']
    Revenue_change = budget_df['Revenue'] - Prev_revenue
    
    Rev_change_list = Rev_change_list + [Revenue_change]
    
    print(Rev_change_list)

[0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
     ...
57    0.0
58    0.0
59    0.0
60    0.0
61    0.0
62    0.0
63    0.0
64    0.0
65    0.0
66    0.0
67    0.0
68    0.0
69    0.0
70    0.0
71    0.0
72    0.0
73    0.0
74    0.0
75    0.0
76    0.0
77    0.0
78    0.0
79    0.0
80    0.0
81    0.0
82    0.0
83    0.0
84    0.0
85    0.0
86    NaN
Name: Revenue, Length: 87, dtype: float64]
[0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
     ...
57    0.0
58    0.0
59    0.0
60    0.0
61    0.0
62    0.0
63    0.0
64    0.0
65    0.0
66    0.0
67    0.0
68    0.0
69    0.0
70    0.0
71    0.0
72    0.0
73    0.0
74    0.0
75    0.0
76    0.0
77    0.0
78    0.0
79    0.0
80    0.0
81    0.0
82    0.0
83    0.0
84    0.0
85    0.0
86    NaN
Name: Revenue, Length: 87, dtype: float64, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
     ...
57    0.0
58    0.0
59    0.0
60    0.0
61    0.0
62    0.0
63    0.0
64    0.0
65    0.0
66    0.0
67    0.0
68    0.0
69    0.0
70    0.0
71    0.0
72    0.0
73    0.0
74    0.0
75    0.0
76    0.0
77    0.0
78    0.0
79    0.0
80    0.0
81    0.0
82    0.0
83    0.0
84    0.0
85    0.0
86    NaN
Name: Revenue, Length: 87, dtype: float64]

In [8]:
#Calculate the greatest increase in revenue